$v-focus-style: none;

@import "../valo/valo.scss";

@mixin jonglisto {
    @include valo;

    /* Menubar styles */
    .v-menubar {
    }

    .v-menubar-menuitem {
    }

    .v-menubar-menuitem:hover {
    }

    .v-menubar-menuitem-selected {
    }

    .v-menubar-menuitem-highlight {
        background-color: #6475ca !important;
        color: white !important;
    }

    .v-button-epg-now,
    .v-button-epg-time,
    .v-button-epg-channel {
        margin-right: 20px;
    }

    .v-csslayout-epg-now,
    .v-csslayout-epg-time,
    .v-csslayout-epg-channel {
        margin-right: 20px;
    }

    .v-select-epg-type {
        margin-right: 20px;
    }

    .v-button-yellow {
        @include valo-button-style($background-color: #FFFF00, $unit-size: null);
    }

    .v-button-green {
        @include valo-button-style($background-color: #008000, $unit-size: null);
    }

    .v-button-blue {
        @include valo-button-style($background-color: #0000FF, $unit-size: null);
    }

    .v-button-red {
        @include valo-button-style($background-color: #FF0000, $unit-size: null);
    }

    .v-label-yellow {
        background-color: #FFFF00;
        color: #000000;
        min-width: 80px;
        padding: 10px;
        font-weight: bold;
    }

    .v-label-green {
        background-color: #008000;
        color: #000000;
        min-width: 80px;
        padding: 10px;
        font-weight: bold;
    }

    .v-label-blue {
        background-color: #0000FF;
        color: #000000;
        min-width: 80px;
        padding: 10px;
        font-weight: bold;
    }

    .v-label-red {
        background-color: #FF0000;
        color: #000000;
        min-width: 80px;
        padding: 10px;
        font-weight: bold;
    }

    .v-label-osditem {
        padding-right: 20px;
    }

    .v-label-selectedosditem {
        padding-right: 20px;
        background-color: #C35817;
        color: #FFFFFF;
    }

     .timergrid td, .timergrid th {
         padding-right: 5px;
         padding-left: 5px;
         margin: 0px;
     }

     .timerdate {
         min-width: 100px;
     }

     .timertime {
         min-width: 60px;
     }

}
